  <h1>Adding length of sequence and sequence</h1>
  <p>
    Input sequence of positive integers separated by space
  </p>

  <%= form_tag('/elements/result.json', :method => "get", remote:true, id:'form', class: 'form-control') do %>
    <%= label_tag("Enter length of sequence") %>
    <%= number_field_tag :length, "1" , class: 'form-control' %> <br/>
    <%= label_tag("Enter sequence") %>
    <%= number_field_tag :str_elem, "1" , class: 'form-control' %> <br/>
    <%= submit_tag("calculate", class: 'btn btn-primary') %>
  <% end %>
  <div id="res"></div>


