  <h1>Adding length of sequence and sequence</h1>
  <p>
    Input sequence of positive integers separated by space
  </p>

  <%= form_tag('/elements/result.json', :method => "get", remote:true, id:'form', class: 'form-control', style: 'width: 60%;') do %>
    <%= label_tag("Enter length of sequence") %>
    <%= number_field_tag :length, "1" , class: 'form-control', id: 'number' %> <br/>
    <%= label_tag("Enter sequence") %>
    <%= text_field_tag :str_elem, "1" , class: 'form-control', id: 'text' %> <br/>
    <%= submit_tag("calculate", class: 'btn btn-primary') %>
  <% end %>
  <%if flash[:alert]%>
    <div class = 'alert alert-danger' style = 'width: 60%;'><%=flash[:alert]%></div>
  <%else%>
   <table class="table table-bordered" id = "res" style = "width: 60%;"><tr><th>Task</th><th>Result of task</th></tr>
  <%end%>

